extends ../shared/template

block content
  .row
    .small-4.columns
      form(method='post', action='/register')
        fieldset
          legend=title
          label Email
          input(type='email', name='email', autofocus=true)
          label Password
          input(type='password', name='password')
          label Role
          select(name='role')
            option Guest
            option Host
          button.radius.small Create
    .small-8.columns

