extends ../shared/template

block content
  .row
    .small-4.columns
      form(method='post', action='/admin/login')
        fieldset
          legend=title
          label Email
          input(type='email', name='email', autofocus=true)
          label Password
          input(type='password', name='password')
          button.radius.small Login
    .small-8.columns

