@bg-color: #fff;
@import url(http://fonts.googleapis.com/css?family=Medula+One);
@import url(http://fonts.googleapis.com/css?family=Abel);

body{
  background-image: url('/img/satinweave.png');
  font-family: 'Abel', sans-serif !important;
}

#main {
  margin-bottom: 50px;
  font-family: 'Abel', sans-serif !important;
}

#map img {
  max-width: none;
}

////////// FONTS //////////
h4, p, button, a, span{
  font-family: 'Abel', sans-serif !important;
}

#arch {
  letter-spacing: -5px;
}

.top-bar{
  background: #3498db !important;
  padding-bottom: 2px solid #3498db !important;
  margin-bottom: 50px !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #3498db !important;
  padding-bottom: 2px solid #3498db !important;
}

.top-bar .name h1 a{
  font-weight: 700;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"]{
  background: #3498db !important;
  border-right: solid 1px #bdc3c7;
  padding-bottom: 2px solid #3498db;
}

.top-bar-section .has-form {
  background: #3498db !important;
  padding-bottom: 2px solid #3498db;
}

////////// HOME //////////
#label {
  color: #2c3e50;
  font-size: 14px;
}

#search {
  margin-top: 15px;
}

#map {
  width: 100%;
  height: 600px;
  border: 4px solid #3498db;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 25px;
}

button.tiny {
  margin-top: 4px;
  color: #3498db !important;
  background: #ecf0f1 !important;
  font-weight: 600 !important;
  font-size: 12px;
}

#fb {
  color: #3498db !important;
  background: #ecf0f1 !important;
  font-weight: 600;
}

h1 {
  font-family: 'Abel', sans-serif !important;
  font-size: 3.75rem;
  color: #3498db;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Medula One', cursive !important;
  font-size: 2.2rem;
  color: #3b476b;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}

.clear {
  clear: both;
}

#home-panel {
  background: #fff !important;
  border-right: 5px solid #3498db;
  border-left: 5px solid #3498db;
  border-top: 17px solid #3498db;
  border-bottom: 17px solid #3498db;
  border-radius: 7px;
  position: absolute !important;
  z-index: 2;
  width: 100%;
  margin-top: 50px;
  background:rgba(255,255,255, 0.8) !important;
}

////////// REPORT PAGE //////////
.report-img {
  //background-size: cover;
  background-size: 100% auto;
  width: 100%;
  height: 550px;
  border-top: 3px solid #bdc3c7;
  border-left: 3px solid #bdc3c7;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-bottom: -45px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

i {
  background-color: #fff;
  padding: 11px;
  border-radius: 100%;
  border: 5px solid #80B929;
}

#home-img {
  background-image: url(../img/flat.jpg);
  background-size: cover;
  width: 100%;
  height: 550px;
  border-radius: 10px;
  position: relative !important;
  z-index: 1;
  text-align: center;
  border: 4px solid #3498db;
  margin-bottom: 55px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#p {
  font-size: 18px; 
  color: #34495e;
}

.p {
  font-size: 18px; 
  color: #34495e;
}


#h4 {
  color: #3498db;
}

////////// FORMS //////////
#forms {
  border: 4px solid #008cba !important;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}

#forms legend {
  color: #3b476b;
}

.dropzone-previews {
  height: 100px;
}

////////// DONATIONS //////////
.donor-email {
  border-radius: 100%;
  margin-top: 15px;
}

.donor-name {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.donor-box {
  display: inline;
}

.report-donations {
  border-top: 35px solid #80B929;
  border-radius: 15px;
  padding: 25px;
  background: #2c3e50;
  margin-bottom: 55px;
  /*
  background-image: -webkit-gradient(
    linear,
      left top,
        left bottom,
          color-stop(0, #EDF5E0),
            color-stop(1, #CFE5AE)
            );
            background-image: -o-linear-gradient(bottom, #EDF5E0 0%, #CFE5AE 100%);
            background-image: -moz-linear-gradient(bottom, #EDF5E0 0%, #CFE5AE 100%);
            background-image: -webkit-linear-gradient(bottom, #EDF5E0 0%, #CFE5AE 100%);
            background-image: -ms-linear-gradient(bottom, #EDF5E0 0%, #CFE5AE 100%);
            background-image: linear-gradient(to bottom, #EDF5E0 0%, #CFE5AE 100%);
            */
}

.report-donations span {
  font-family: 'Abel', sans-serif !important;
  color: #ecf0f1;
  font-size: 30px;
}

span.gravatar {
  margin: 0 20px 0 10px;
  font-size: 20px;
}

.report-donations span a {
  font-family: 'Abel', sans-serif !important;
  color: #80B929;;
}

.report-donations span a:hover {
  color: #fff;
}

.gravatar-img {
  padding: 1px 25px;
  margin: 1px 25px;
}

.gravatar-img img {
  border-radius: 20px !important;
  border: 5px solid #80B929;
}

#email {
  display: none;
}

#amount {
  color: #80B929;
  font-size: 22px;
}

h2 {
  margin-bottom: 35px;
  color: #ecf0f1;
}

.report-donations h4 {
  font-family: 'Abel', sans-serif !important;
  color: #ecf0f1;
  text-transform: uppercase;
  margin-top: 35px;
}

.report-donations p {
  color: #ecf0f1;
  font-size: 20px;
}

#donate {
  font-family: 'Medula One', cursive !important;
  font-size: 65px;
}

////////// HOME //////////

#footer-panel {
  border-top: 10px solid #80B929;
  background-color: #3498db;
  bottom: 0;
  padding: 75px 0;
  text-align: center;
  margin-top: 70px;
}

#footer-panel li {
  margin: 10px;
  padding: 5px 20px;
  display: inline;
}

#footer-panel a {
  color: #ecf0f1;
  font-size: 20px;
  text-transform: uppercase;
}
