doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    //link(rel='stylesheet', href='/css/dropzone.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    script(src='/js/vendor/modernizr.js')
  body
    .sticky.fixed
      nav.top-bar
        ul.title-area
          li.name
            h1: a(href="/") Civic 311
          li.toggle-topbar.menu-icon
            a(href="#") Menu

        section.top-bar-section
          ul.left
          ul.right
            if currentResident || currentEmployee 
              li: a(href="/reports") Reports
              li.divider
            if currentResident
              li: a(href="/reports/new") Submit Report
              li.divider
            if currentResident || currentEmployee
              li: a(href="/reports/donations") Donations
              li.divider
            if !currentResident && !currentEmployee 
              li: a(href="/register") Register
              li.divider
            if !currentResident && !currentEmployee 
              li: a(href="#" data-reveal-id="myModal2" data-reveal) Login
              //li: a(href="/login") Login
              li.divider
            if !currentResident && !currentEmployee 
              li.has-form: a(href='/auth/facebook').button.radius.navbtn#fb Facebook Login
            if currentResident  
              li.divider
              li.has-form
                form(action='/logout'  method='POST' )
                  button.tiny.radius.space.navbtn Logout
            if currentEmployee
              li.divider
              li.has-form
                form(action='/admin/logout'  method='POST' )
                  button.tiny.radius.space.navbtn Logout
    .row
      .small-12.columns
        div#myModal2.reveal-modal.tiny(data-reveal)
          .row
            .small-12.columns
              form(action='/login', method='post')
                label.left Email
                input(name='email', type='text', autofocus=true, required)
                label.left Password
                input(name='password', type='password' required)
                button.radius.close-reveal-model Login

    .row#main
      .small-12.columns
    .row
      .small-12.columns
        block content

    #footer-panel
      .row
        .small-12.columns
          li: a(href="/admin/register") Admin Registration
          li: a(href="/admin/login") Admin Login
          li: a(href="/admin/confirm") Token Confirmation
          li: a(href="#") Terms

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/foundation.topbar.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    //script(src='/js/vendor/md5.js')
    //script(src='/js/vendor/jquery.gravatar.js')
    script(src='/js/source/main.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAg7BExWsO3xkC80yWGVtWKCrA_eFr-M34&sensor=true&libraries=places')
    script(src='/js/vendor/jquery.geocomplete.min.js')
    //script(src='/js/vendor/dropzone.js')
    block scripts

