doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    script(src='/js/vendor/modernizr.js')
  body
    nav.top-bar
      ul.title-area
        li.name
          h1: a(href="/") Civic 311
        li.toggle-topbar.menu-icon
          a(href="#") Menu

      section.top-bar-section
        ul.left
        ul.right
          li: a(href="/") Home
          li.divider
          li: a(href="/reports") Reports
          li.divider
          li: a(href="/reports/new") Submit Report
          li.divider
          li: a(href="/register") Register
          li.divider
          li: a(href="/login") Login
          li.divider
          li.has-form: a(href='/auth/facebook').button.radius Facebook Login
          if currentResident 
            li.divider
            li.has-form
              form(action='/logout'  method='POST' )
                button.tiny.radius.space Logout
          if currentEmployee
            li.divider
            li.has-form
              form(action='/admin/logout'  method='POST' )
                button.tiny.radius.space Logout

    .row
      .small-12.columns
        block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAg7BExWsO3xkC80yWGVtWKCrA_eFr-M34&sensor=true&libraries=places')
    script(src='/js/vendor/jquery.geocomplete.min.js')
    block scripts

