extends ../shared/template

block content
    h1 <i class="fa fa-flag"></i> Civic 311
    h3 Citizen to Government collaboration made simple

    .row
      #status
        .panel#home-panel
          .small-10.columns
            label What's my Status?
            input(type='text', placeholder='Report Id')#id-val
          .small-2.columns
            button.medium.radius#id-status Submit
          .clear

    .row
      .small-12.columns#home-img

